.itemContainer{
    position: fixed;
}
.itemPage__img{
    width: 25%;
    height: 25%;
}
.itemPage__price{
    position: relative;
    color: grey;
    float:right;
    left: 100px;
    margin-top: 60px;
    font-size: 26px;
}
.item__title{
    text-align: center;
    float: right;
    right: 50%;
    font-size: 30px;
}
.itemPage__title{
    text-align: center;
    float: right;
    margin-right: 400px;
    font-size: 30px;
}
.item__desc{
    position: relative;
    float: right;
    padding-right: 20px;
    width: 72%;
    margin-top: -16%;
}