.itemContainer{
    position: fixed;
}
.itemPage__img{
    width: 25%;
    height: 25%;
}
.itemPage__price{
    text-align: left;
    color: grey;
    position: relative;
    float:right;
    margin-top: 60px;
    right: 47.5%;
}
.item__title{
    position: relative;
    float: right;
    right: 50%;
    font-size: 30px;
}
.item__desc{
    position: relative;
    float: right;
    padding-right: 20px;
    width: 72%;
    margin-top: -16%;
}