
.row {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding-bottom: 90px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255,153,0,.75);
}
.cell-img{
    width: 30%;
}
.shoppint-cart{
    margin: 20px;
}
.cell{
    width: 20%;
    height: 50px;
}
.box-cart{
    background-color: white;
    padding: 5px;
    padding-bottom: 30px;
    margin: 40px;
    border-radius: 10px;
    border: 1px solid rgba(255,153,0,.75);
    box-shadow: 2px 2px 10px rgba(255,153,0,.75);
}
.box-cart__summary{
    float: right;
    background-color: white;
    padding: 5px;
    margin-right: 40px;
    border-radius: 10px;
    border: 1px solid rgba(255,153,0,.75);
    box-shadow: 2px 2px 10px rgba(255,153,0,.75);
}
tr{
    padding: 20px
}
.cell{
    position: absolute;
}
.cell2{
    position: relative;
    left: 200px;
    width: 45%;
}
.cell3{
    position: relative;
    width: 15%;
}
.cell4{
    position: relative;
    width: 10%;
}
.cell5{
    position: relative;
    width: 5%;
}
.hover--opacity:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: all .2s;
}
svg{
    width: 25px;
    height: 25px;
}
.field{
    padding: 5px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
